<div class="container">
    <h2 class="mb-5">Sinh viên</h2>
    <div class="table-responsive">
        <table class="table table-striped custom-table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">MSSV</th>
                    <th scope="col">Tên sinh viên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Khoa</th>
                    <th scope="col">Lớp</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>